.add-plan_wrapper {
  position: relative;
  margin-bottom: 31px;
}

.add-plan__title {
  @include title (24px, $bold, $dark-slate-blue);
  width: 170px;
  line-height: 1;
}

.add-plan__slider {
  position: absolute;
  top: 10px;
  right: 25px;
}

.add-plan__fieldset:not(:first-child) {
  margin-top: 10px;
}
