.calendar__title {
  @include title (20px, bold, $dark-slate-blue);
  @include vertical-paddings (10px, 12px);
  position: relative;
  margin-bottom: 20px;
  line-height: 20px;
  text-align: center;
  border: 1px solid $grey-opacity;
  border-left: none;
  border-right: none;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 9px;
    height: 18px;
    background-image: url("../img/month-arrow-left.svg");
    background-repeat: no-repeat;
    opacity: 0.3;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 9px;
    height: 18px;
    background-image: url("../img/month-arrow-right.svg");
    background-repeat: no-repeat;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    @include vertical-paddings (20px, 22px);
    margin-bottom: 26px;
    font-size: 36px;
    line-height: normal;

    &::before {
      width: 15px;
      height: 28px;
      left: 16px;
    }

    &::after {
      width: 15px;
      height: 28px;
      right: 16px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 4px;
  }
}

.calendar__table {
  border-collapse: collapse;
}

.week__cell {
  padding-top: 2px;
  padding-bottom: 7px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  font-weight: normal;
  color: $greyish-brown;

  &--output {
    color: $orange-red;
  }

  @media (min-width: $tablet-width) {
    padding-top: 5px;
    padding-bottom: 4px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1.8px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 7px;
    padding-bottom: 14px;
    padding-left: 17px;
    text-align: left;
  }
}

.week__letter {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.days__cell {
  width: 33px;
  height: 31px;
  background-color: #ffffff;
  border: 1px solid $cloudy-blue;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 77px;
    height: 69px;
  }

  @media (min-width: $desktop-width) {
    width: 144px;
    height: 71px;
    text-align: left;
    vertical-align: top;
    padding: 5px 16px;
  }
}

.days__link {
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  color: $grey-opacity;

  &--text,
  &--month {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1.8px;

    &--month {
      display: inline;
    }

    &--text {
      display: block;
    }
  }
}

.days__cell--active {
  background-color: $dark-slate-blue;
}

.days__cell--focus {
  border: solid 2px $orange-red;

  @media (min-width: $tablet-width) {
    border: solid 4px $orange-red;
  }
}

.days__link--active {
  color: $white;
}

.days__cell--free {
  background-color: $pale-grey;
}

.days__link--free {
  color: $greyish-brown;
}
