.card {
  position: relative;
  margin: 0;
  padding: 0;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    width: 285px;
    border-radius: 20px;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 285px;
    margin: 0;
    padding: 0;
  }
}

.card:first-child {
  z-index: 2;
}

.card:last-child {
  z-index: 1;
}

.card__photo {
  @include border-top-radius (10px, 10px);
  @include border-bottom-radius (0, 0);
  display: block;
  width: 270px;
  height: 270px;

  @media (min-width: $tablet-width) {
    @include border-top-radius (20px, 20px);
    @include border-bottom-radius (0, 0);
    width: 285px;
    height: 285px;
  }
}

.card__container {
  @include border-bottom-radius (10px, 10px);
  @include vertical-paddings (23px, 16px);
  position: relative;
  display: block;
  width: 270px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    @include border-bottom-radius (20px, 20px);
    @include vertical-paddings (29px, 17px);
    width: 285px;
    padding-left: 27px;
    padding-right: 32px;
  }

  @media (min-width: $desktop-width) {
    @include vertical-paddings (27px, 23px);
    width: 285px;
    padding-left: 27px;
  }
}

.card__name {
  @include title (20px, bold, $dark-slate-blue);
  margin-bottom: 16px;
  padding: 0 37px;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  display: block;

  &:hover,
  &:focus {
    color: $dark-slate-blue-opacity70;
  }

  &:active {
    color: $dark-slate-blue-opacity30;
  }

  &::before {
    @include round (5px, 5px, 2.5px, $salmon);
    content: "";
    position: absolute;
    left: 53px;
    top: 33px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
    font-size: 24px;
    line-height: 24px;

    &::before {
      width: 7px;
      height: 7px;
      border-radius: 3.5px;
      left: 46px;
      top: 39px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 16px;
  }
}

.card__interests {
  margin: 0;
  margin-bottom: 12px;
  font-size: 15px;
  color: $greyish-brown;
  padding: 0 25px;
  line-height: 18px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.card__flag-list {
  position: absolute;
  top: -11px;
  left: 60px;
  margin: 0;
  padding: 0;

  &--twoflags {
    left: 90px;
  }

  @media (min-width: $tablet-width) {
    left: 70px;

    &--twoflags {
      left: 100px;
    }
  }
}

.card__flag-list .flag::before {
  content: "";
  position: absolute;
  display: none;
  bottom: -66px;
  left: -59px;
  padding: 18px 24px;
  border-radius: 4px;
  background-color: $darker-slate-blue;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: $white;
  white-space: nowrap;
}

.card__flag-list .flag::after {
  content: "";
  position: absolute;
  display: none;
  bottom: -13px;
  left: 9px;
  width: 16px;
  height: 18px;
  background-image: url("../img/triangle-arrow-left.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 16px 8px;
  transform: rotate(90deg);
}

.card__flag-list .flag--belgium::before {
  content: "Бельгия";
}

.card__flag-list .flag--czech::before {
  content: "Чехия";
}

.card__flag-list .flag--srilanka::before {
  content: "Шри-ланка";
}

.card__flag-list .flag--thailand::before {
  content: "Таиланд";
}

.card__flag-list .flag--seychelles::before {
  content: "Сейшелы";
}

.card__flag-list .flag:hover::before,
.card__flag-list .flag:hover::after {
  display: block;
}


.card__transport {
  margin: 0 42px;
}

.card__level {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 2;

  @media (min-width: $tablet-width) {
    top: 23px;
    left: 23px;
  }

  @media (min-width: $desktop-width) {
    top: 25px;
    left: 23px;
  }
}
