.copyright {
  display: flex;
  align-items: center;
}

.copyright__by {
  text-align: center;
  color: $greyish-brown;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 1.2;
  }
}

.copyright__link {
  margin-left: auto;

  @media (min-width: $tablet-width) {
    margin-left: 24px;
  }
}

.copyright__img {
  display: block;
}
