.country-choice {
  margin: 0;
  margin-top: 28px;
  padding: 0 25px;
  list-style-type: none;

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
}

.country-choice__list:not(.country-choice__list--bottom) {
  @media (min-width: $desktop-width) {
    margin-bottom: 150px;
  }
}

.country-choice__name {
  text-decoration: none;
  line-height: 30px;
  color: $greyish-brown;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.country-choice__2,
.country-choice__3,
.country-choice__4,
.country-choice__5,
.country-choice__6,
.country-choice__7,
.country-choice__8,
.country-choice__9,
.country-choice__10,
.country-choice__11,
.country-choice__12,
.country-choice__13,
.country-choice__14,
.country-choice__15,
.country-choice__16,
.country-choice__17,
.country-choice__18,
.country-choice__19,
.country-choice__20,
.country-choice__21,
.country-choice__22,
.country-choice__23,
.country-choice__24,
.country-choice__25 {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.country-choice__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $desktop-width) {
    width: 248px;

    &::before {
      content: "";
      position: absolute;
      width: 50;
      height: 50px;
      top: -58px;
      left: -5px;
      font-size: 60px;
      font-weight: bold;
      line-height: 24px;
      text-transform: uppercase;
      color: $dark-blue-grey;
    }
  }
}

.country-choice__1 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "А";
    }
  }
}

.country-choice__2 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "Б";
    }
  }
}

.country-choice__3 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "В";
    }
  }
}

.country-choice__4 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "Г";
    }
  }
}

.country-choice__5 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "Д";
    }
  }
}

.country-choice__6 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "Е";
    }
  }
}

.country-choice__7 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "З";
    }
  }
}

.country-choice__8 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "И";
    }
  }
}

.country-choice__9 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "К";
    }
  }
}

.country-choice__10 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "Л";
    }
  }
}

.country-choice__11 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "М";
    }
  }
}

.country-choice__12 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "Н";
    }
  }
}

.country-choice__13 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "О";
    }
  }
}

.country-choice__14 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "П";
    }
  }
}

.country-choice__15 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "Р";
    }
  }
}

.country-choice__16 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "С";
    }
  }
}

.country-choice__17 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "Т";
    }
  }
}

.country-choice__18 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "У";
    }
  }
}

.country-choice__19 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "Ф";
    }
  }
}

.country-choice__20 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "Х";
    }
  }
}

.country-choice__21 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "Ч";
    }
  }
}

.country-choice__22 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "Ш";
    }
  }
}

.country-choice__23 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "Э";
    }
  }
}

.country-choice__24 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "Ю";
    }
  }
}

.country-choice__25 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "Я";
    }
  }
}
