.country-choice {
  margin: 0;
  margin-top: 12px;
  padding: 0 27px;
  list-style-type: none;

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
}

.country-choice__name {
  text-decoration: none;
  color: $greyish-brown;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.country-choice__list--2,
.country-choice__list--3,
.country-choice__list--4,
.country-choice__list--5,
.country-choice__list--6,
.country-choice__list--7,
.country-choice__list--8,
.country-choice__list--9,
.country-choice__list--10,
.country-choice__list--11,
.country-choice__list--12,
.country-choice__list--13,
.country-choice__list--14,
.country-choice__list--15,
.country-choice__list--16,
.country-choice__list--17,
.country-choice__list--18,
.country-choice__list--19,
.country-choice__list--20,
.country-choice__list--21,
.country-choice__list--22,
.country-choice__list--23,
.country-choice__list--24,
.country-choice__list--25 {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.country-choice__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $desktop-width) {
    width: 254px;

    &::before {
      content: "";
      position: absolute;
      width: 50;
      height: 50px;
      top: -74px;
      left: 0;
      font-size: 60px;
      font-weight: bold;
      line-height: 24px;
      text-transform: uppercase;
      color: $dark-blue-grey;
    }
  }
}

.country-choice__list--1 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "А";
    }
  }
}

.country-choice__list--2 {
  @media (min-width: $desktop-width) {
    margin-bottom: 139px;

    &::before {
      content: "Б";
    }
  }
}

.country-choice__list--3 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "В";
    }
  }
}

.country-choice__list--4 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "Г";
    }
  }
}

.country-choice__list--5 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "Д";
    }
  }
}

.country-choice__list--6 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "Е";
    }
  }
}

.country-choice__list--7 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "З";
    }
  }
}

.country-choice__list--8 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "И";
    }
  }
}

.country-choice__list--9 {
  @media (min-width: $desktop-width) {
    margin-bottom: 142px;

    &::before {
      content: "К";
    }
  }
}

.country-choice__list--10 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "Л";
    }
  }
}

.country-choice__list--11 {
  @media (min-width: $desktop-width) {
    margin-bottom: 180px;

    &::before {
      content: "М";
    }
  }
}

.country-choice__list--12 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "Н";
    }
  }
}

.country-choice__list--13 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "О";
    }
  }
}

.country-choice__list--14 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "П";
    }
  }
}

.country-choice__list--15 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "Р";
    }
  }
}

.country-choice__list--16 {
  @media (min-width: $desktop-width) {
    margin-bottom: 143px;

    &::before {
      content: "С";
    }
  }
}

.country-choice__list--17 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "Т";
    }
  }
}

.country-choice__list--18 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "У";
    }
  }
}

.country-choice__list--19 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "Ф";
    }
  }
}

.country-choice__list--20 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "Х";
    }
  }
}

.country-choice__list--21 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "Ч";
    }
  }
}

.country-choice__list--22 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "Ш";
    }
  }
}

.country-choice__list--23 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "Э";
    }
  }
}

.country-choice__list--24 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "Ю";
    }
  }
}

.country-choice__list--25 {
  @media (min-width: $desktop-width) {
    &::before {
      content: "Я";
    }
  }
}
