.form-email {
  position: relative;

  @media (min-width: $desktop-width) {
    width: 1174px;
  }
}

.form-email__email {
  width: 270px;
  height: 62px;
  border-radius: 10px;
  border: none;
  background-color: $white;

  &:hover {
    color: $greyish-brown-opacity50;
    background-color: $pale-grey;
  }

  &:focus,
  &:active {
    border: 4px solid $white;
    background-color: transparent;
    color: $white;
  }

  @media (min-width: $tablet-width) {
    @include border-left-radius (20px, 20px);
    @include border-right-radius (0, 0);
    width: 536px;
    height: 81px;
  }

  @media (min-width: $desktop-width) {
    @include border-left-radius (20px, 20px);
    width: 850px;
  }
}

.form-email__button {
  position: absolute;
  right: 0;
  width: 60px;
  height: 62px;
  border-radius: 10px;
  border: none;
  background-color: $light-gold;

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    right: 23px;
    width: 10px;
    height: 14px;
    background-image: url("../img/triangle-arrow-right.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    @include border-right-radius (20px, 20px);
    @include border-left-radius (0, 0);
    width: 82px;
    height: 81px;

    &::before {
      top: 34px;
      right: 36px;
    }
  }

  @media (min-width: $desktop-width) {
    @include border-right-radius (20px, 20px);
    width: 324px;
    height: 81px;

    &::after {
      content: "Регистрация";
      position: absolute;
      top: 30px;
      left: 36px;
      font-size: 24px;
      font-weight: bold;
      line-height: 24px;
      text-align: left;
      color: $dark-slate-blue;
    }
  }
}
