.page-header {
  background-color: $dark-grey;
  z-index: 2;

  @media (min-width: $tablet-width) {
    background-color: $dark-blue-grey;
  }

  @media (min-width: $desktop-width) {
    @include border-bottom-radius (60px, 60px);
    background-color: $dark-grey;

    &--catalog {
      border-radius: 0;
    }
  }
}

.page-header__container {
  @include wrapper ($mobile-width, 0 auto, 0 25px);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  color: $white;

  &--index {
    background-image: url("../img/traveller-illustration-mobile@1x.png"), url("../img/globe-back-mobile@1x.jpg");
    background-position: 79px 222px, 0 56px;
    background-repeat: no-repeat, no-repeat;
    background-size: 192px 256px, 320px 421px;
    z-index: 1;
  }

  &--logo {
    @include vertical-paddings (27px, 0);
    width: 270px;
    display: flex;
  }

  &--catalog {
    padding-top: 19px;
  }

  @media (min-width: $tablet-width) {
    @include wrapper ($tablet-width, 0 auto, 0 40px);
    background-color: $dark-blue-grey;

    &--index {
      background-image: url("../img/traveller-illustration-tablet@1x.png"), url("../img/globe-back-tablet@1x.jpg");
      background-position: 284px 404px, -150px 403px;
      background-size: 372px 448px, 1140px 591px;
    }

    &--logo {
      @include vertical-paddings (45px, 0);
      width: 350px;
    }
  }

  @media (min-width: $desktop-width) {
    @include wrapper ($desktop-width, 0 auto, 0 60px);
    background-color: $dark-grey;

    &--index {
      background-image: url("../img/traveller-illustration-desktop@1x.png"), url("../img/globe-back-desktop@1x.jpg");
      background-position: 605px 110px, 0 0;
      background-size: 431px 640px, 1440px 780px;
    }


    &--logo {
      @include vertical-paddings (47px, 0);
      width: 200px;
      padding-right: 40px;
    }
  }
}

.page-header__logo {
  order: 1;
}

.page-header__toggle-navigation {
  order: 2;
}

.toggle-navigation {
  margin-left: 140px;
  background-color: $dark-blue-grey;
  border: none;

  @media (min-width: $tablet-width) {
    margin-left: 160px;
    margin-top: -3px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.toggle-navigation__image {
  display: block;
}

.page-header__main-navigation {
  order: 3;

  @media (min-width: $tablet-width) {
    order: 4;
  }

  @media (min-width: $desktop-width) {
    order: 3;
  }
}

.page-header__login {
  order: 4;

  @media (min-width: $tablet-width) {
    order: 3;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    @include vertical-paddings (48px, 30px);
    order: 4;
  }
}

.page-header--catalog .page-header__login {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.page-header__steps {
  order: 5;
}
