.steps__container {
  @include border-bottom-radius (20px, 20px);
  @include vertical-paddings (45px, 84px);
  position: relative;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    @include vertical-paddings (69px, 0);
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.steps__slogan {
  @include title(36px, bold, $white);
  margin: 0;
  padding: 0 15px;
  line-height: 40px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-left: 140px;
    padding-right: 140px;
    font-size: 60px;
    line-height: 70px;
    order: 1;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: 8px;
    padding: 0;
    padding-left: 67px;
    width: 470px;
    text-align: left;
  }
}

.steps__text {
  margin: 0;
  padding: 0 25px;
  margin-top: 314px;

  @media (min-width: $tablet-width) {
    margin-top: 87px;
    padding-left: 35px;
    padding-right: 340px;
    font-size: 28px;
    font-weight: 300;
    line-height: 33px;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    width: 286px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-top: 20px;
  }
}

.steps__quote {
  margin: 0;
  padding-right: 65px;

  @media (min-width: $tablet-width) {
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.steps__author {
  margin: 0;
  margin-top: 18px;

  @media (min-width: $tablet-width) {
    margin-top: 44px;
    font-size: 21px;
    font-weight: bold;
    line-height: 25px;
  }
}

.steps__position {
  margin: 0;
  padding-right: 65px;
  padding-bottom: 33px;

  @media (min-width: $tablet-width) {
    padding-bottom: 353px;
    font-size: 21px;
    font-weight: bold;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-bottom: 347px;
  }
}

.steps__list {
  position: absolute;
  z-index: 10;
  bottom: 86px;
  width: 270px;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 140px;
    width: 688px;
    order: 3;
    z-index: 10;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    display: flex;
    width: 1320px;
    bottom: 227px;
  }
}

.steps__item {
  width: 270px;
  height: 160px;
  padding-top: 21px;
  padding-left: 25px;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  text-align: left;
  color: $dark-grey;
  border-radius: 10px;

  &--one {
    position: absolute;
    top: 0;
    z-index: 1;
    padding-right: 140px;
    background-color: $mango;
  }

  &--one::before {
    content: "1";
    position: absolute;
    top: 21px;
    right: 21px;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    text-align: center;
    color: $white;
  }

  &--two {
    position: absolute;
    top: 80px;
    z-index: 2;
    padding-right: 96px;
    background-color: $light-mango;
  }

  &--two::before {
    content: "2";
    position: absolute;
    top: 21px;
    right: 22px;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    text-align: center;
    color: $white;
  }

  &--three {
    position: absolute;
    top: 160px;
    z-index: 3;
    padding-right: 105px;
    background-color: $lighter-mango;
  }

  &--three::before {
    content: "3";
    position: absolute;
    top: 21px;
    right: 18px;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    text-align: center;
    color: $white;
  }

  &--four {
    position: absolute;
    top: 240px;
    z-index: 4;
    padding-right: 125px;
    height: 80px;
    background-color: $light-gold;
  }

  &--four::before {
    content: "4";
    position: absolute;
    top: 22px;
    right: 22px;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    text-align: center;
    color: $white;
  }

  @media (min-width: $tablet-width) {
    height: 140px;
    padding-top: 31px;
    padding-left: 33px;
    font-weight: bold;
    line-height: 24px;
    text-align: left;
    color: $dark-grey;
    border-radius: 20px;
    font-size: 24px;

    &--one {
      @include border-bottom-radius (0, 0);
      position: absolute;
      top: 0;
      left: 0;
      width: 668px;
      padding-right: 518px;
      z-index: 1;
      background-color: $mango;
    }

    &--one::before {
      top: 44px;
      right: 619px;
      font-size: 30px;
      line-height: 120px;
    }

    &--two {
      @include border-bottom-radius (0, 0);
      position: absolute;
      top: 0;
      right: 0;
      width: 344px;
      padding-right: 112px;
      z-index: 2;
      background-color: $light-mango;
    }

    &--two::before {
      top: 44px;
      right: 294px;
      font-size: 30px;
      line-height: 120px;
    }

    &--three {
      @include border-top-radius (0, 0);
      position: absolute;
      top: 140px;
      left: 0;
      width: 668px;
      padding-right: 446px;
      z-index: 3;
      background-color: $lighter-mango;
    }

    &--three::before {
      top: 45px;
      right: 617px;
      font-size: 30px;
      line-height: 120px;
    }

    &--four {
      @include border-top-radius (0, 0);
      position: absolute;
      top: 140px;
      right: 0;
      width: 344px;
      padding-right: 150px;
      z-index: 4;
      background-color: $light-gold;
    }

    &--four::before {
      top: 45px;
      right: 295px;
      font-size: 30px;
      line-height: 120px;
    }
  }

  @media (min-width: $desktop-width) {
    height: 107px;
    padding-top: 27px;
    padding-left: 35px;

    &--one {
      border-radius: 20px;
      position: absolute;
      top: 0;
      width: 1320px;
      padding-right: 0;
      z-index: 1;
      background-color: $mango;
    }

    &--one::before {
      top: -21px;
      right: 1039px;
      font-size: 24px;
      line-height: 120px;
    }

    &--two {
      border-radius: 20px;
      position: absolute;
      top: 0;
      left: 315px;
      width: 975px;
      padding-right: 0;
      padding-left: 31px;
      z-index: 2;
      background-color: $light-mango;
    }

    &--two::before {
      top: -21px;
      right: 663px;
      font-size: 24px;
      line-height: 120px;
    }

    &--three {
      border-radius: 20px;
      position: absolute;
      top: 0;
      left: 659px;
      width: 388px;
      padding-right: 0;
      padding-left: 33px;
      z-index: 3;
      background-color: $lighter-mango;
    }

    &--three::before {
      top: -21px;
      right: 74px;
      font-size: 24px;
      line-height: 120px;
    }

    &--four {
      border-radius: 20px;
      position: absolute;
      top: 0;
      left: 1004px;
      width: 315px;
      padding-right: 0;
      padding-left: 32px;
      z-index: 4;
      background-color: $light-gold;
    }

    &--four::before {
      top: -21px;
      right: 32px;
      font-size: 24px;
      line-height: 120px;
    }
  }
}
