.login__button {
  padding: 9px 30px;
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  color: $dark-grey;
  background-color: $light-gold;
  border-radius: 25px;

  &:hover {
    background-color: $lighter-mango;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}
