
@media (min-width: $mobile-width) {
  .main-navigation__open {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-navigation__open {
    display: block;
  }
}

@media (min-width: $mobile-width) {
  .main-navigation {
    @include wrapper(320px, 0 auto, 0 25px);
    @include vertical-paddings (52px, 30px);
    position: absolute;
    top: 73px;
    left: 0;
    z-index: 6;
    display: none;
    color: $dark-blue-grey;
    background-color: $white;
  }
}

@media (min-width: $tablet-width) {
  .main-navigation {
    @include wrapper(768px, 0 auto, 0 40px);
    @include vertical-paddings (78px, 52px);
    top: 130px;
  }
}

@media (min-width: $desktop-width) {
  .main-navigation {
    @include wrapper(auto, 0 0, 0 0);
    @include vertical-paddings (67px, 30px);
    display: block;
    top: 0;
    background-color: $dark-grey;
    position: relative;
  }
}

.main-navigation__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (min-width: $desktop-width) {
  .main-navigation__user {
    display: none;
  }
}
