.open {
  display: flex;
  margin-left: auto;
  border: none;
  background-color: transparent;
}

.open__text {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0;
    padding-right: 20px;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    color: $dark-blue-grey;
  }
}

.open__image {
  display: block;
  margin-top: 18px;
}

.close {
  position: relative;
  display: none;
  margin-left: auto;
  border: none;
  background-color: $pale-grey-blue;
}

.close__text {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0;
    padding-right: 54px;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    color: $dark-blue-grey;
  }
}

.close__cross {
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 2px;
    top: 50%;
    right: 0;
    background-color: $dark-blue-grey;
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

/**
.open--close {
  display: none;
}

.close--show {
  display: flex;
}**/
