.page-footer {
  @include border-top-radius (20px, 20px);
  position: relative;
  z-index: 2;
  margin-top: -60px;
  background-color: $white;

  &--index {
    margin-top: -239px;
  }

  &--form {
    margin-top: -18px;
  }

  @media (min-width: $tablet-width) {
    @include border-top-radius (50px, 50px);
    margin-top: -114px;

    &--index {
      margin-top: -154px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: -115px;

    &--index {
      margin-top: -155px;
    }
  }
}

.page-footer__container {
  @include vertical-paddings (38px, 30px);

  @media (min-width: $tablet-width) {
    @include vertical-paddings (48px, 46px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logo {
  margin-left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    margin: 0;
    transform: translateX(0);
  }
}

.page-footer__logo-image {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 19px;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 100%;
  }
}

.page-footer__socials-list {
  margin-left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    margin-left: -46px;
  }
}


.page-footer .socials-list {
  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: -13px;
    transform: translate(0);
  }

  @media (min-width: $desktop-width) {
    margin-left: -46px;
  }
}

.page-footer .socials-list__item {
  @include round (45px, 45px, 50%, $light-gold);

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
  }
}

.page-footer .socials-list__item:hover,
.page-footer .socials-list__item:focus,
.page-footer .socials-list__item:active {
  background-color: $light-mango;
}

.page-footer__copyright {
  margin-top: 36px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
