.page-main {
  position: relative;
  z-index: 1;
  background-color: $pale-grey;
}

.page-main__container {
  @include vertical-paddings (28px, 46px);
  position: relative;
  margin-top: -60px;


  @media (min-width: $desktop-width) {
    @include wrapper ($desktop-width, 0 auto, unset);
    @include vertical-paddings (75px, 76px);
    padding-left: 54px;
    padding-right: 66px;
    display: flex;
  }
}

.page-main__results {
  @media (min-width: $desktop-width) {
    order: 1;
  }
}

.page-main__form-search {
  @media (min-width: $desktop-width) {
    order: 2;
  }
}
