.personal_account {
  background-color: $pale-grey;
}

.personal_account__container {
  @include vertical-paddings (23px, 44px);
  position: relative;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    @include vertical-paddings (64px, 60px);
  }

  @media (min-width: $desktop-width) {
    @include vertical-paddings (73px, 65px);
    padding-left: 124px;
    padding-right: 60px;
  }
}

.personal_account__level {
  width: 100px;
  height: 100px;
  padding: 19px 0;

  @media (min-width: $tablet-width) {
    order: 1;
    width: 94px;
    height: 94px;
    padding-left: 7px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: -150px;
    left: 900px;
  }
}

.personal_account__photo {
  margin-left: auto;

  @media (min-width: $tablet-width) {
    order: 3;
    margin-left: 60px;
  }

  @media (min-width: $desktop-width) {
    order: 2;
    position: absolute;
    right: 155px;
    top: -190px;
    margin: 0;
  }
}

.personal_account__photo-img {
  display: block;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 94px;
    height: 94px;
    border-radius: 5px;
  }

  @media (min-width: $desktop-width) {
    @include border-top-radius (10px, 10px);
    @include border-bottom-radius (0, 0);
    width: 190px;
    height: 190px;
  }
}

.personal_account__change-photo {
  padding: 8px 75px;
  margin-top: 20px;
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  color: $dark-grey;
  border-radius: 20px;
  background-color: $pale-grey-dark;

  @media (min-width: $tablet-width) {
    order: 4;
    padding: 15px 260px;
    margin-top: 60px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 2px;
  }

  @media (min-width: $desktop-width) {
    @include border-bottom-radius (10px, 10px);
    @include border-top-radius (0, 0);
    order: 3;
    position: absolute;
    right: 155px;
    top: 0;
    margin: 0;
    padding-left: 67px;
    padding-right: 67px;
  }
}

.personal_account__change-photo span {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.personal_account__fieldset {
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 27px;
  border-radius: 10px;
  border: solid 1px $cloudy-blue;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.personal_account__interests {
  @media (min-width: $tablet-width) {
    order: 5;
    margin-top: 50px;
  }

  @media (min-width: $desktop-width) {
    order: 4;
    margin: 0;
  }
}

.personal_account__transport .transport__list {
  margin: 0;
  padding: 27px 69px;

  @media (min-width: $desktop-width) {
    padding: 25px 108px;
  }
}

.personal_account__transport .transport__item {
  background-color: $white;

  @media (min-width: $tablet-width) {
    width: 43px;
    height: 43px;
  }
}

.personal_account__transport {
  @media (min-width: $tablet-width) {
    order: 2;
    margin-left: 60px;
  }

  @media (min-width: $desktop-width) {
    order: 5;
    margin: 0;
    margin-left: 142px;
  }
}
