.plan-steps {
  @include wrapper (270px, 0 auto, 0 25px);
  @include vertical-paddings (24px, 24px);
  position: relative;
  border-radius: 10px;
  background-color: $white;
  border: none;

  @media (min-width: $tablet-width) {
    @include wrapper (618px, 0 auto, 0 40px);
    @include vertical-paddings (49px, 55px);
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    @include wrapper (1320px, 0 auto, 0 162px);
    @include vertical-paddings (100px, 105px);
  }
}

.plan-steps__legend {
  display: none;
}

.plan-steps__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.plan-steps__title {
  @include title (20px, bold, $dark-slate-blue);
  line-height: 20px;
  margin: 0;
  padding: 0 24px;

  @media (min-width: $tablet-width) {
    order: 1;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 20px;
  }
}

.plan-steps__br {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.plan-steps__text {
  margin: 0;
  margin-top: 18px;
  margin-bottom: 24px;
  line-height: 22px;
  color: $greyish-brown;

  @media (min-width: $tablet-width) {
    order: 2;
    font-size: 20px;
    line-height: 24px;
    margin-top: 37px;
  }

  @media (min-width: $desktop-width) {
    &--one {
      width: 576px;
    }

    &--two {
      width: 406px;
    }

    &--three {
      width: 472px;
      margin-bottom: 0;
    }
  }
}

.plan-steps__slider {
  @media (min-width: $desktop-width) {
    order: 3;
    position: absolute;
    top: 108px;
    right: 293px;
  }
}

.plan-steps__registration {
  @media (min-width: $desktop-width) {
    order: 3;
    margin-top: 56px;
  }
}

.plan-steps__calendar {
  margin-top: 27px;

  @media (min-width: $tablet-width) {
    order: 6;
    margin-top: 59px;
  }
}

.plan-steps__link,
.plan-steps__submit {
  display: inline-block;
  margin-top: 23px;
  padding: 6px 40px;
  border-radius: 20px;
  background-color: $light-gold;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.76;
  color: $dark-grey;
  border: none;

  @media (min-width: $tablet-width) {
    width: 263px;
    margin-top: 46px;
    padding: 28px;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    text-transform: none;
  }

  @media (min-width: $desktop-width) {
    margin-top: 56px;
  }
}

.plan-steps__link {
  @media (min-width: $tablet-width) {
    order: 7;
  }
}

.plan-steps__actions {
  @media (min-width: $tablet-width) {
    order: 3;
    margin-top: 74px;
  }
}

.plan-steps__submit {
  @media (min-width: $tablet-width) {
    order: 4;
  }
}

.link-prev {
  border: none;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    margin-left: 6px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 420px;
  }
}
