.promo {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  color: $white;
  background-image: url("../img/traveller-illustration-mobile@1x.png"), url("../img/globe-back-mobile@1x.jpg");
  background-position: 77px 151px, 0 6px;
  background-repeat: no-repeat, no-repeat;
  background-size: 192px 256px, 320px 421px;
  z-index: 1;

  &--catalog {
    padding-top: 19px;
  }

  @media (min-width: $tablet-width) {
    background-color: $dark-blue-grey;
    background-image: url("../img/traveller-illustration-tablet@1x.png"), url("../img/globe-back-tablet@1x.jpg");
    background-position: 284px 274px, -236px 263px;
    background-size: 372px 448px, 1320px 598px;
  }

  @media (min-width: $desktop-width) {
    background-color: $dark-grey;
    background-image: url("../img/traveller-illustration-desktop@1x.png"), url("../img/globe-back-desktop@1x.jpg");
    background-position: 605px -39px, 0 0;
    background-size: 431px 640px, 1440px 780px;
  }
}

.promo__container {
  position: relative;
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
  }

  @media (min-width: $desktop-width) {
    @include vertical-paddings (59px, 124px);
  }
}

.promo__main {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 213px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    margin-bottom: 103px;
  }
}

.promo__slogan {
  @include title(36px, bold, $white);
  margin: 0;
  margin-bottom: 245px;
  padding: 0 15px;
  line-height: 40px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 91px;
    padding-left: 140px;
    padding-right: 140px;
    font-size: 60px;
    line-height: 70px;
    order: 1;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    padding-left: 67px;
    width: 470px;
    text-align: left;
  }
}

.promo__user {
  margin-bottom: 24px;
}

.promo__text {
  margin: 0;
  padding: 0 25px;

  @media (min-width: $tablet-width) {
    padding-left: 35px;
    padding-right: 340px;
    font-size: 28px;
    font-weight: 300;
    line-height: 33px;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    width: 286px;
    margin-top: 10px;
    padding: 0;
  }
}

.promo__quote {
  margin: 0;
  margin-bottom: 20px;
  padding-right: 65px;

  @media (min-width: $tablet-width) {
    margin-bottom: 46px;
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 49px;
    padding: 0;
  }
}

.promo__author {
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    font-weight: bold;
    line-height: 25px;
  }
}

.promo__position {
  margin: 0;
  padding-right: 65px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    font-weight: bold;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.promo__steps {
  margin-bottom: -240px;

  @media (min-width: $tablet-width) {
    margin-bottom: -140px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}
