.questions {
  @include border-bottom-radius (20px, 20px);
  background-color: $dark-blue-grey;
  position: relative;
  z-index: 3;
  margin-top: -58px;

  @media (min-width: $tablet-width) {
    @include border-bottom-radius (50px, 50px);
  }

  @media (min-width: $desktop-width) {
    @include border-bottom-radius (60px, 60px);
  }
}

.questions__container {
  @include vertical-paddings (129px, 30px);

  @media (min-width: $tablet-width) {
    @include vertical-paddings (130px, 59px);
  }

  @media (min-width: $desktop-width) {
    @include vertical-paddings (163px, 101px);
  }
}

.questions__title {
  @include title($size-title, $bold, $mango);
  margin: 0;
  line-height: 1;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 45px;
  }
}

.questions__text {
  @include text ($light, $white);
  margin: 0;
  margin-top: 19px;
  padding: 0 35px;
  text-align: center;

  &--answer {
    margin-top: 27px;
    padding: 0 20px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 58px;
    font-size: 28px;
    line-height: 33px;

    &--answer {
      margin-top: 56px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 57px;
    padding: 0 275px;

    &--answer {
      margin-top: 66px;
      padding-left: 350px;
      text-align: left;
    }
  }
}

.questions__link {
  color: $light-gold;
}

.questions__form {
  margin-top: 30px;

  @media (min-width: $tablet-width) {
    margin: 0 35px;
    margin-top: 67px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 72px;
    margin-top: 59px;
  }
}

.questions__contacts.contacts {
  margin-top: 18px;

  @media (min-width: $tablet-width) {
    margin-top: 41px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 223px;
    margin-right: 180px;
    margin-top: 41px;
  }
}

