.questions__container {
  @include border-bottom-radius (20px, 20px);
  @include vertical-paddings (72px, 38px);
  background-color: $dark-blue-grey;

  @media (min-width: $tablet-width) {
    @include vertical-paddings (77px, 84px);
  }

  @media (min-width: $desktop-width) {
    @include vertical-paddings (103px, 138px);
  }
}

.questions__title {
  @include title($size-title, $bold, $mango);
  margin: 0;
  line-height: 1;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 45px;
  }
}

.questions__text {
  @include text ($light, $white);
  margin: 0;
  margin-top: 44px;
  padding: 0 36px;
  text-align: center;
  line-height: 1.38;

  @media (min-width: $tablet-width) {
    margin-top: 60px;
    font-size: 28px;
    line-height: 1.18;
  }

  @media (min-width: $desktop-width) {
    margin-top: 60px;
    font-size: 28px;
    line-height: 1.18;
  }
}

.questions__link {
  color: $light-gold;
}

.questions__form {
  margin-top: 32px;

  @media (min-width: $tablet-width) {
    margin: 0 35px;
    margin-top: 67px;
  }
}

.contacts {
  margin: 0;
  margin-top: 36px;
  padding: 0;
  list-style-type: none;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-top: 66px;
    padding-left: 35px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 180px;
    margin-top: 78px;
  }
}

.contacts__item:last-child {
  margin-top: 32px;

  @media (min-width: $tablet-width) {
    margin-top: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-left: 111px;
  }
}

.contacts__tel {
  position: relative;
  display: block;
  padding-left: 61px;
  font-weight: bold;
  text-align: left;
  color: $light-gold;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -14px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $dark-grey;
    background-image: url("../img/contacts-phone.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 18px 18px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 95px;
    font-size: 28px;
    line-height: 1;

    &::before {
      width: 67px;
      height: 67px;
      top: -25px;
      background-size: 27px 27px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 132px;

    &::before {
      width: 90px;
      height: 90px;
      top: -30px;
      background-size: 36px 36px;
    }
  }
}

.contacts__email {
  position: relative;
  display: block;
  padding-left: 61px;
  font-weight: bold;
  line-height: 1.38;
  text-align: left;
  text-transform: uppercase;
  color: $light-gold;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -14px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $dark-grey;
    background-image: url("../img/contacts-mail.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 18px 18px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 95px;
    font-size: 28px;
    line-height: 1;

    &::before {
      width: 67px;
      height: 67px;
      top: -25px;
      background-size: 27px 27px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 132px;

    &::before {
      width: 90px;
      height: 90px;
      top: -30px;
      background-size: 36px 36px;
    }
  }
}
