.route {
  @include border-bottom-radius (25px, 25px);
  background-color: $pale-grey;
  position: relative;
  z-index: 6;
  top: -62px;

  @media (min-width: $tablet-width) {
    @include border-bottom-radius (50px, 50px);
  }

  @media (min-width: $desktop-width) {
    @include border-bottom-radius (60px, 60px);
  }
}

.route__container {
  @include vertical-paddings (132px, 30px);
  position: relative;

  @media (min-width: $tablet-width) {
    @include vertical-paddings (131px, 80px);
    background-image: url("../img/flags-back@1x.png");
    background-repeat: no-repeat;
    background-position: 439px 142px;
    background-size: 289px 575px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/flags-back@2x.png");
  }

  @media (min-width: $desktop-width) {
    @include vertical-paddings (225px, 139px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-position: 1091px 150px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/flags-back@2x.png");
    }
  }
}

.route__title {
  @include title ($size-title, bold, $mango);
  margin: 0;
  margin-bottom: 20px;
  padding-left: 25px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 59px;
    padding-left: 34px;
    font-size: 45px;
    line-height: 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 58px;
    padding-left: 802px;
  }
}

.route__text {
  @include text ($light,  $greyish-brown);
  margin: 0;
  margin-bottom: 61px;
  padding-left: 25px;
  padding-right: 50px;

  @media (min-width: $tablet-width) {
    margin-bottom: 107px;
    padding-left: 35px;
    padding-right: 306px;
    font-size: 28px;
    line-height: 33px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 99px;
    padding-left: 802px;
    padding-right: 170px;
  }
}

.route__list {
  margin: 0;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 224px;
    left: 132px;
    margin: 0;
    padding: 0;
  }
}

.route__link {
  padding: 22px 24px;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  text-transform: none;
  border-radius: 10px;

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    right: 23px;
    width: 10px;
    height: 14px;
    background-image: url("../img/triangle-arrow-right.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    margin: 0 35px;
    padding: 29px 34px;
    width: 618px;
    font-size: 24px;
    line-height: 24px;
    border-radius: 20px;

    &::before {
      top: 34px;
      right: 34px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 274px;
    margin-right: 241px;
    margin-left: auto;
    padding: 29px 32px;

    &::before {
      right: 37px;
    }
  }
}
