.service {
  @include border-bottom-radius (30px, 30px);
  background-color: $dark-blue-grey;
  position: relative;
  z-index: 7;
  margin-top: -60px;

  @media (min-width: $tablet-width) {
    @include border-bottom-radius (60px, 60px);
  }

  @media (min-width: $desktop-width) {
    @include border-bottom-radius (60px, 60px);
  }
}

.service__container {
  @include vertical-paddings (370px, 62px);
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
  background-image: url("../img/about-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 19px 338px;
  background-size: 292px 352px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/about-mobile@2x.png");
  }

  &::before {
    @include border-right-radius (20px, 20px);
    content: "";
    position: absolute;
    left: 0;
    top: 273px;
    z-index: -1;
    width: 113px;
    height: 132px;
    background-color: $darker-blue-grey;
  }


  @media (min-width: $tablet-width) {
    @include vertical-paddings (335px, 88px);
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    background-image: url("../img/about-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: 383px 345px;
    background-size: 379px 546px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/about-tablet@2x.png");
    }

    &::before {
      @include border-right-radius (20px, 20px);
      content: "";
      position: absolute;
      left: 40px;
      top: 236px;
      z-index: -1;
      width: 688px;
      height: 213px;
      background-color: $darker-blue-grey;
    }
  }

  @media (min-width: $desktop-width) {
    @include vertical-paddings (191px, 160px);
    padding-left: 58px;
    background-image: url("../img/about-desktop@1x.png");
    background-position: 750px 147px;
    background-size: 630px 665px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/about-desktop@2x.png");
    }

    &::before {
      @include border-right-radius (20px, 20px);
      content: "";
      position: absolute;
      left: 60px;
      top: 132px;
      z-index: -1;
      width: 213px;
      height: 213px;
      background-color: $darker-blue-grey;
    }
  }
}

.service__title {
  @include title($size-title, $bold, $mango);
  margin: 0;
  margin-bottom: 19px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 41px;
    padding-left: 35px;
  }

  @media (min-width: $desktop-width) {
    font-size: 45px;
    margin-bottom: 58px;
    padding-left: 72px;
  }
}

.service__text {
  @include text (300, $white);
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
    padding-right: 352px;
    padding-left: 35px;
    font-size: 28px;
    line-height: 33px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
    padding-right: 630px;
    padding-left: 72px;
  }
}

.service__text--bold {
  font-weight: bold;

  @media (min-width: $tablet-width) {
    margin-bottom: 53px;
    padding-right: 344px;
    font-size: 21px;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 86px;
    padding-right: 830px;
  }
}

.service__link {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    width: 274px;
    padding: 28px 126px 29px 34px;
    margin-left: 35px;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    text-align: left;
    text-transform: none;
    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 72px;
  }
}
