@media (min-width: $mobile-width) {
  .site-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    padding-left: 75px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    display: flex;

    &::before {
      content: "";
      position: absolute;
      top: 80px;
      left: -45px;
      width: 60px;
      height: 2px;
      border-radius: 1px;
      background-color: $white;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list__item:not(:first-child) {
    margin-left: 36px;
  }
}

@media (min-width: $mobile-width) {
  .site-list__link {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
    color: $dark-blue-grey;
  }
}

@media (min-width: $tablet-width) {
  .site-list__link {
    font-size: 60px;
    font-weight: 500;
    line-height: 1.18;
    color: $dark-blue-grey;
  }
}

@media (min-width: $desktop-width) {
  .site-list__link {
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
    color: $white;
  }
}
