.socials-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 38px;
  display: flex;
  margin-left: 50%;
  transform: translateX(-50%);

  &--navigation {
    margin: 0;
    margin-top: 141px;
    padding-left: 66px;
    transform: translateX(0);
  }
}

.socials-list__item {
  display: block;
  width: 45px;
  height: 45px;
}

.socials-list__item--navigation:not(:first-child) {
  @media (min-width: $tablet-width) {
    margin-left: 15px;
  }
}

.socials-list__item--fb {
  background-image: url("../img/facebook.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 11px 21px;

  @media (min-width: $tablet-width) {
    background-size: 14px 28px;
  }
}

.socials-list__item--vk {
  background-image: url("../img/vk.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 23px 12px;

  @media (min-width: $tablet-width) {
    background-size: 31px 16px;
  }
}

.socials-list__item--instagram {
  background-image: url("../img/instagram.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 18px 18px;

  @media (min-width: $tablet-width) {
    background-size: 24px 24px;
  }
}

.main-navigation__socials {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-footer .socials-list {
  @media (min-width: $tablet-width) {
    margin: 0;
    transform: translate(0);
  }
}

.page-footer .socials-list__item {
  @include round (45px, 45px, 50%, $light-gold);

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
  }
}
