.socials-list {
  list-style-type: none;
  padding: 0;
  margin-top: 38px;
  margin-bottom: 0;
  display: flex;

  &--navigation {
    margin: 0;
    margin-top: 141px;
    padding-left: 66px;
  }
}

.socials-list__item {
  display: block;
  width: 45px;
  height: 45px;
}

.socials-list__item--navigation:not(:first-child) {
  @media (min-width: $tablet-width) {
    margin-left: 15px;
  }
}

.socials-list__item--fb {
  padding: 12px 17px;

  @media (min-width: $tablet-width) {
    padding: 16px 23px;
  }
}

.socials-list__item--vk {
  padding: 12px 11px;

  @media (min-width: $tablet-width) {
    padding: 22px 14px;
  }
}

.socials-list__item--instagram {
  padding: 14px 14px;

  @media (min-width: $tablet-width) {
    padding: 18px 18px;
  }
}

.main-navigation__socials {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-footer .socials-list {
  @media (min-width: $tablet-width) {
    margin: 0;
    transform: translate(0);
  }
}

.page-footer .socials-list__item {
  @include round (45px, 45px, 50%, $light-gold);

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
  }
}

.page-footer .socials-list__item:hover,
.page-footer .socials-list__item:focus,
.page-footer .socials-list__item:active {
  background-color: $light-mango;
}

.socials-list__icon {
  fill: $dark-blue-grey;

  @media (min-width: $tablet-width) {
    &--fb {
      width: 14px;
      height: 28px;
    }

    &--vk {
      width: 31px;
      height: 16px;
    }

    &--inst {
      width: 24px;
      height: 24px;
    }
  }
}

.socials-list__item:hover .socials-list__icon--navigation,
.socials-list__item:focus .socials-list__icon--navigation {
  opacity: 0.6;
}

.socials-list__item:active .socials-list__icon {
  opacity: 0.3;
}
