.tariffs {
  @include border-bottom-radius (20px, 20px);
  background-color: $pale-grey;
  position: relative;
  z-index: 4;
  margin-top: -141px;

  @media (min-width: $tablet-width) {
    @include border-bottom-radius (50px, 50px);
  }

  @media (min-width: $desktop-width) {
    @include border-bottom-radius (60px, 60px);
  }
}

.tariffs__container {
  @include vertical-paddings (82px, 38px);
  padding-left: 50px;
  padding-right: 50px;
  position: relative;

  @media (min-width: $tablet-width) {
    @include vertical-paddings (101px, 90px);
  }

  @media (min-width: $desktop-width) {
    @include vertical-paddings (134px, 190px);
  }
}

.tariffs__title {
  @include title($size-title, $bold, $mango);
  margin: 0;
  padding-right: 133px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    padding-left: 72px;
    padding-right: 70px;
    font-size: 45px;
    line-height: 45px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.price-list {
  @include text ($light, $greyish-brown);
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 44px;

  &::before {
    content: "";
    position: absolute;
    top: 68px;
    right: 25px;
    width: 99px;
    height: 99px;
    background-image: url("../../img/rates@1x.png");
    background-repeat: no-repeat;
    background-size: 99px 99px;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    margin-top: 76px;
    font-size: 28px;
    line-height: 33px;

    &::before {
      z-index: 2;
      top: 218px;
      right: 35px;
    }

    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      top: -43px;
      right: -11px;
      width: 198px;
      height: 285px;
      border-radius: 20px;
      background-color: $pale-grey-blue;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 136px;

    &::before {
      width: 198px;
      height: 198px;
      top: 0;
      right: 84px;
      background-size: 198px 198px;
    }

    &::after {
      width: 444px;
      height: 300px;
      top: -50px;
      right: 196px;
    }
  }
}

.price-list__item {
  @include vertical-paddings (10px, 11px);
  position: relative;
  margin-right: 20px;
  border-top: 1px solid $grey-opacity;

  &::before {
    @include round (34px, 34px, 50%, $light-mango);
    content: "1";
    position: absolute;
    top: 4px;
    right: -44px;
    padding: 10px 13px;
    color: $white;
    line-height: 0.88;
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
    padding-bottom: 18px;
    margin-right: 24px;
    margin-left: 80px;

    &::before {
      width: 67px;
      height: 67px;
      top: -2px;
      left: -89px;
      padding: 20px 25px;
      line-height: 1;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 171px;
    margin-right: 354px;
  }
}

.price-list__item:nth-child(2) {
  &::before {
    content: "2";
    background-color: $lighter-mango;
  }
}

.price-list__item:last-child {
  border-bottom: 1px solid $grey-opacity;

  &::before {
    content: "3";
    background-color: $light-gold;
  }
}

.price-list__offers {
  margin: 0;
}

.price-list__cost {
  margin: 0;
}

.tariffs__link {
  margin-top: 30px;
  font-weight: $bold;
  line-height: 16px;
  text-transform: none;
  color: $dark-blue-grey;

  @media (min-width: $tablet-width) {
    position: relative;
    margin-left: 79px;
    margin-top: 59px;
    font-size: 20px;

    &::before {
      @include round (67px, 67px, 50%, $pale-grey-blue);
      content: "";
      position: absolute;
      top: -25px;
      left: -89px;
      background-image: url("../img/business.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 17px 21px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 59px;
    margin-left: 170px;
  }
}

.tariffs__modal {
  display: none;
}
