.tariffs-modal__show {
  display: block;
}

.tariffs-modal {
  position: absolute;
  top: 20px;
  left: 25px;
  width: 270px;
  padding-top: 33px;
  background-color: $white;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 688px;
    left: 40px;
    top: 617px;
    z-index: 3;
    border-radius: 30px;
    box-shadow: 0 20px 50px 0 $dark-slate-blue-opacity;
  }

  @media (min-width: $desktop-width) {
    width: 750px;
    left: 345px;
    top: 109px;
  }
}

.tariffs-modal__title {
  @include title($size-title, $bold, $mango);
  margin: 0;
  padding: 0 25px;
  line-height: 1;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 45px;
    margin-top: 52px;
    padding: 0 152px;
  }
}

.tariffs-modal__list {
  @include text ($light, $greyish-brown);
  list-style-type: none;
  margin: 0;
  margin-top: 30px;
  padding: 0 25px;

  @media (min-width: $tablet-width) {
    padding: 0 92px;
    font-size: 22px;
    line-height: 1.27;
  }

  @media (min-width: $desktop-width) {
    margin-top: 47px;
    padding: 0 60px;
  }
}

.tariffs-modal__item {
  position: relative;
  padding: 15px 0;
  border-top: 1px solid $grey-opacity;

  @media (min-width: $tablet-width) {
    padding: 17px 0;
    display: flex;
    justify-content: space-between;
  }
}

.tariffs-modal__item:last-child {
  border-bottom: 1px solid $grey-opacity;
}

.tariffs-modal__offers {
  margin: 0;
}

.tariffs-modal__cost {
  margin: 0;
}

.tariffs-modal__close {
  @include border-bottom-radius (20px, 20px);
  width: 270px;
  height: 59px;
  margin-top: 33px;
  font-weight: bold;
  line-height: 1.5;
  border: none;
  color: $dark-slate-blue;
  background-color: $pale-grey-dark;

  @media (min-width: $tablet-width) {
    @include border-bottom-radius (30px, 30px);
    width: 688px;
    height: 108px;
    margin-top: 51px;
    font-size: 24px;
    line-height: 1;
    text-transform: none;
  }

  @media (min-width: $desktop-width) {
    width: 750px;
  }
}

