.toggle-filters {
  position: relative;
}

.toggle-filters__open {
  @include vertical-paddings (20px, 20px);
  width: 270px;
  border: none;
  background-color: $pale-grey-blue;
  font-weight: bold;
  line-height: 1.38;
  font-family: inherit;
  text-transform: uppercase;
  color: $dark-blue-grey;

  &::before {
    content: "";
    position: absolute;
    top: 22px;
    left: 0;
    width: 15px;
    height: 10px;
    background-image: url("../img/filter.svg");
    background-repeat: no-repeat;
  }

  &::after {
    content: "";
    position: absolute;
    top: 25px;
    right: 0;
    width: 15px;
    height: 10px;
    background-image: url("../img/dots.svg");
    background-repeat: no-repeat;
  }
}

.toggle-filters__close {
  @include vertical-paddings (20px, 20px);
  position: absolute;
  display: none;
  width: 40px;
  top: 0;
  right: 0;
  border: none;
  background-color: $pale-grey-blue;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 27px;
    right: 0;
    width: 16px;
    height: 2px;
    background-color: $dark-blue-grey;
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.toggle-filters__close--show {
  display: block;
}
