.transport__title {
  margin: 0;
  padding-left: 6px;

  &--index {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.transport__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  width: 132px;
  margin: 0;
  margin-top: 12px;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 176px;

    &--catalog {
      flex-direction: column;
      width: unset;
      margin: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &--catalog {
      flex-direction: row;
      width: 132px;
    }
  }
}

.transport__item {
  @include round (33px, 33px, 50%, $white);

  &--plane {
    background-image: url("../img/plane.svg");
    background-repeat: no-repeat;
    background-size: 19px 21px;
    background-position: 50% 50%;
  }

  &--train {
    background-image: url("../img/bus.svg");
    background-repeat: no-repeat;
    background-size: 17px 21px;
    background-position: 50% 50%;
  }

  &--bicycle {
    background-image: url("../img/bike.svg");
    background-repeat: no-repeat;
    background-size: 24px 21px;
    background-position: 50% 50%;
  }

  &--walking {
    background-image: url("../img/run.svg");
    background-repeat: no-repeat;
    background-size: 20px 21px;
    background-position: 50% 50%;
  }

  @media (min-width: $tablet-width) {
    width: 43px;
    height: 43px;
    background-color: $white;

    &--catalog {
      width: 33px;
      height: 33px;
    }
  }
}

.transport__legend {
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $dark-slate-blue;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: -10px;
    transform: translateX(-50%);
    left: 50%;
    background-color: $pale-grey;
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 2px;
  }
}
