.travelers__container {
  @include border-bottom-radius (20px, 20px);
  @include vertical-paddings (72px, 88px);
  position: relative;
  background-color: $dark-blue-grey;
  background-image: url("../img/smolov-back-desktop@1x.png"), url("../img/rogovaya-back-desktop@1x.png"), linear-gradient($darker-blue-grey);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 143px 143px, 71px 71px, 132px 132px;
  background-position: 152px 39px, -10px 311px, -19px 39px;

  @media (min-width: $tablet-width) {
    @include vertical-paddings (143px, 88px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-size: 143px 143px, 285px 285px, 213px 213px;
    background-position: 40px 425px, 405px 80px, 40px 80px;
  }

  @media (min-width: $desktop-width) {
    @include vertical-paddings (131px, 134px);
    background-size: 143px 143px, 285px 285px, 213px 213px;
    background-position: 547px 133px, 192px 385px, 60px 68px;
  }
}

.travelers__title {
  @include title($size-title, $bold, $mango);
  margin: 0;
  padding: 0 25px;
  line-height: 1;

  @media (min-width: $tablet-width) {
    padding-left: 35px;
    font-size: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 71px;
  }
}

.travelers__text {
  @include text ($light, $white);
  padding: 0 25px;
  margin: 0;
  margin-top: 25px;

  @media (min-width: $tablet-width) {
    margin-top: 61px;
    padding-left: 35px;
    padding-right: 226px;
    font-size: 28px;
    line-height: 1.18;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-top: 61px;
    padding-left: 71px;
    width: 503px;
  }
}

.travelers__text--bold {
  font-weight: $bold;

  @media (min-width: $tablet-width) {
    margin-top: 46px;
    padding-left: 35px;
    padding-rigth: 400px;
    font-size: 21px;
    line-height: 1.19;
  }

  @media (min-width: $desktop-width) {
    margin-top: 46px;
    padding-left: 71px;
  }
}

.travelers__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 60px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 35px;
    margin-top: 62px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    position: absolute;
    top: 133px;
    right: 60px;
  }
}

.travelers__item:not(:first-child) {
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.travelers__item:nth-child(2n) {
  @media (min-width: $tablet-width) {
    margin-left: 43px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 60px;
  }
}

.travelers__item {
  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.travelers__link {
  position: relative;
  margin-top: 20px;
  padding: 24px;
  background-color: $light-gold;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  color: $dark-slate-blue;
  border-radius: 10px;
  text-transform: none;

  &::before {
    content: "";
    position: absolute;
    top: 26px;
    right: 36px;
    width: 10px;
    height: 14px;
    background-image: url("../img/triangle-arrow-right.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    margin: 0 35px;
    margin-top: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 71px;
    margin-top: 84px;
    width: 280px;
  }
}
