.user {
  position: relative;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.user__link {
  position: relative;
  font-weight: bold;
  color: $dark-blue-grey;

  &--tel {
    width: 40px;
    height: 40px;
  }

  &--tel::before {
    @include round (40px, 40px, 50%, $mango);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("../img/topmenu-phone.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 18px 18px;
  }

  &--email {
    width: 40px;
    height: 40px;
  }

  &--email::before {
    @include round (40px, 40px, 50%, $lighter-mango);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("../../img/topmenu-mail.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 18px 18px;
  }

  &--login {
    display: block;
    padding: 6px 39px;
    font-size: 17px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    color: $dark-grey;
    background-color: $light-gold;
    border-radius: 25px;
  }
}
