html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font-name;
  font-size: 16px;
  line-height: 22px;
}

.page-main-catalog {
  background-color: $pale-grey;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.button {
  display: block;
  font-family: inherit;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
