html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font-name;
  font-size: 16px;
  line-height: 1.38;
}

.page-main-catalog {
  background-color: $pale-grey;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

h1,
h2,
h3,
p,
a {
  margin: 0;
  padding: 0;
}

.main-navigation__list,
.menu-list,
.steps__list,
.route__list,
.travelers__list,
.transport__list,
.price-list,
.contacts,
.socials-list,
.results__list,
.place__list,
.flags__list {
  margin: 0;
  padding: 0;
}

.user-list__item,
.site-list,
.social-icon,
.menu-list__item,
.steps__item,
.country-list__item,
.travelers__list,
.transport__list,
.price-list,
.contacts,
.socials-list,
.results__list,
.place__list,
.flags__list {
  list-style-type: none;
  padding: 0;
}

.user-list__login,
.user-list__tel,
.user-list__email,
.site-list__link,
.social-list__link,
.menu-list__link,
.travelers__link,
.route__link,
.tariffs__link,
.contacts__tel,
.contacts__email,
.map__link,
.profile-card-catalog__link {
  text-decoration: none;
}
